footer {
  background: var(--azul-escuro);
  padding-bottom: 5px;
}

.foot-div{
  display: flex;
  justify-content: space-around;
}

.redes-sociais {
  height: 75px;
  width: 75px;
}

.redes-sociais:hover {
  height: 90px;
  width: 90px;
  transition: 0.5s;
  cursor: pointer;
}

footer p {
  text-align: center;
  font-size: 10px;
}