:root {
  --roxo-claro:#970FF2;
  --roxo-escuro:#5D17BF;
  --azul-escuro:#171559;
  --azul-claro:#08298C;
  --branco:#F2F2F2;
  --rosa:#c35dd0;
}

.container { 
  width: 940px; 
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  text-align: center;
}

.titulo {
  font-size: 2.3em;
  text-shadow:
  0 0 4px #fff,
  0 0 11px #fff,
  0 0 18px #fff;
  text-align: center;
  font-family: 'Goldman', cursive;
  margin: 5px;
  color: white;
  text-transform: uppercase;
}

body {
  background-color: #151515;
  background-image:url("/img/justo.gif");
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: auto;
  height: 100vh;
  width: 100vw;
}