:root {
  --roxo-claro:#970FF2;
  --roxo-escuro:#5D17BF;
  --azul-escuro:#171559;
  --azul-claro:#08298C;
  --branco:#F2F2F2;
  --rosa:#c35dd0;
}

.container { 
  width: 940px; 
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  text-align: center;
}

.titulo {
  font-size: 2.3em;
  text-shadow:
  0 0 4px #fff,
  0 0 11px #fff,
  0 0 18px #fff;
  text-align: center;
  font-family: 'Goldman', cursive;
  margin: 5px;
}

body {
  background: rgb(195,93,208);
  background: linear-gradient(0deg, rgba(195,93,208,1) 0%, rgba(151,15,242,1) 25%, rgba(93,23,191,1) 50%, rgba(8,41,140,1) 75%, rgba(23,21,89,1) 100%);
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  height: 400vh;
}