:root {
  --roxo-claro:#970FF2;
  --roxo-escuro:#5D17BF;
  --azul-escuro:#171559;
  --azul-claro:#08298C;
  --branco:#F2F2F2;
  --rosa:#c35dd0;
}

.container { 
  width: 940px; 
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;

}

.titulo {
  font-size: 3em;
  text-shadow:
  0 0 4px #fff,
  0 0 11px #fff,
  0 0 18px #fff;
  text-align: center;
  font-family: 'Goldman', cursive;
  margin: 5px;
  color: var(--branco);
  text-transform: uppercase;
}


.conteudo {
  background-color: #151515;
  background-image:url(../img/fundo.jpg);
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: auto;
  background-attachment:fixed;
}

.titulo-imagem {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1.5em;
}

main {
  padding: 1.5em;
}

